

#btnprompt {
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 50%;
    font-weight: bolder;
    cursor: default;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}



@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
